<div class="player-container">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias dolorem
    minima tempore nobis ab quia ipsum nemo. Ad, dolorem modi ipsam error
    sapiente debitis, totam est cupiditate ex, corporis eum! Lorem, ipsum dolor
    sit amet consectetur adipisicing elit. Molestias dolorem minima tempore
    nobis ab quia ipsum nemo. Ad, dolorem modi ipsam error sapiente debitis,
    totam est cupiditate ex, corporis eum! Lorem, ipsum dolor sit amet
    consectetur adipisicing elit. Molestias dolorem minima tempore nobis ab quia
    ipsum nemo. Ad, dolorem modi ipsam error sapiente debitis, totam est
    cupiditate ex, corporis eum! Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Molestias dolorem minima tempore nobis ab quia ipsum nemo.
    Ad, dolorem modi ipsam error sapiente debitis, totam est cupiditate ex,
    corporis eum!
  </p>
</div>
