<div class="artists-container">
  <h2 class="artists-title">Popular artists</h2>
  <div class="artists-handler">
    <div class="artist-container" *ngFor="let artist of artists">
      <img
        src="{{ artist.images[0].url }}"
        alt="artis-photo"
        class="artist-photo"
      />
      <div class="overlay">
        <div class="icon-container">
          <mat-icon fontIcon="play_arrow"></mat-icon>
        </div>
      </div>
      <p class="artist-name">{{ artist.name }}</p>
      <p class="artist-name-sub">Artist</p>
    </div>
  </div>
</div>
