.artists-container {
  display: flex;
  flex-direction: column;
}

.artists-title {
  margin: 50px 0px 10px 10px;
  color: #ffffff;
}

.artists-handler {
  display: flex;
}

.artist-container {
  position: relative;
  justify-content: start;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.artist-container:hover {
  background: linear-gradient(180deg, #00000000, #1b1b1b);
}

.artist-photo {
  object-fit: cover;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.artist-name {
  color: #ffffff;
  margin: 0px 0px 5px 0px;
}

.artist-name-sub {
  color: #afafaf;
  margin: 5px 0px 0px 0px;
}

.overlay {
  position: absolute;
  bottom: 0px;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.icon-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60%;
  left: 68%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #13131300;
  background-color: #1db95400;
  transition: 0.2s ease-in-out;
}

.artist-container:hover .overlay {
  height: 100%;
}

.artist-container:hover .icon-container {
  color: #131313;
  background-color: #1db954;
}
