.navigation-card-container {
  display: flex;
  background: #131313;
  border-radius: 8px;
  width: 22vw;
  align-items: start;
  margin: 0px 0px 0px 8px;
}

.navigation-handler {
  width: 100%;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  display: flex;
}

.navigation-handler a {
  display: flex;
  margin-top: 20px;
  color: #dedede;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

.navigation-handler a:hover {
  color: #ffffff;
}

.navigation-handler mat-icon {
  margin-right: 10px;
}

.logoBW {
  width: 90px;
}
