<div class="login-container">
  <div class="login-box">
    <img src="/assets/spotifyLogo.png" alt="Spotify Logo" class="logo" />
    <h1>Log in</h1>
    <form>
      <div class="input-group">
        <p class="input-name">Email</p>
        <input type="text" placeholder="Email" />
      </div>
      <div class="input-group">
        <p class="input-name">Password</p>
        <input type="password" placeholder="Password" />
      </div>
    </form>
    <button routerLink="/home" type="submit" class="login-button">
      Log In
    </button>
    <a href="#" class="forgot-password">Forgot Password?</a>
  </div>
</div>
