.home-container {
  overflow: hidden;
  display: grid;
  grid:
    "header" auto
    "main" 90vh
    "footer" auto;
  background: #000000;
  max-height: 100vh;
}

.main {
  grid-area: main;
  display: flex;
}

.footer {
  margin-top: 8px;
  grid-area: footer;
  /* background: #000000;
  background: gold; */
}
